# Juventus Players With More Than 100 Games Data Analysis

- [dataset](https://www.kaggle.com/datasets/mitsuyasuhoshino/juventus-fc-legends/data)

In [1]:
# First we unzip the file to export the dataset
import zipfile
import os


for file in os.listdir(os.curdir):
    if file.endswith(".zip"):
        with zipfile.ZipFile(file, 'r') as zip_ref:
            zip_ref.extractall()

In [2]:
# Reading the dataset
import pandas as pd

for file in os.listdir(os.curdir):
    if file.endswith(".csv"):
        df = pd.read_csv(file)

df

,name,nationality,positions,period of enrollment,appearances,goals
0,Angelo Alessio,Italy,MF,1987-1992,142,21
1,Jose Altafini,Brazil/Italy,FW,1972-1976,117,37
2,Amauri,Brazil/Italy,FW,2008-2011,100,24
3,Nicola Amoruso,Italy,FW,1996-2002,105,29
4,Pietro Anastasi,Italy,FW,1968-1976,307,132
...,...,...,...,...,...,...
162,Gianluca Zambrotta,Italy,DF,1999-2006,297,10
163,Jonathan Zebina,France,DF,2004-2010,117,1
164,Zinedine Zidane,France,MF,1996-2001,212,31
165,Gianfranco Zigoni,Italy,FW,1961-1970,125,36
166,Dino Zoff,Italy,GK,1972-1983,473,0

## Data Cleaning

Let's first check if there are duplicated rows and drop them

df.drop_duplicates(inplace=True)
df

We see that there are not any duplicated rows. Next, we want to change `Kingdom of Italy` to `Italy`, so It is more consistant.

In [3]:
koi_df = df.loc[df['nationality'].str.contains('Kingdom of Italy')]
koi_df

,name,nationality,positions,period of enrollment,appearances,goals
8,Oreste Barale,Kingdom of Italy,MF,1924-1931,116,1
10,Savino Bellini,Kingdom of Italy,FW,1937-1944,126,34
15,Luigi Bertolini,Kingdom of Italy,MF,1930-1937,161,5
18,Carlo Bigatto,Kingdom of Italy,MF,1913-1931,243,2
24,Felice Borel,Kingdom of Italy,FW,"1932-1941, 1942-1946",308,163
29,Umberto Caligaris,Kingdom of Italy,DF,1928-1935,198,0
37,Renato Cesarini,Argentina/Kingdom of Italy,FW,1929-1935,147,53
42,Gianpiero Combi,Kingdom of Italy,GK,1921-1934,369,0
56,Teobaldo Depetrini,Kingdom of Italy,MF,1933-1949,388,10
65,Giovanni Ferrari,Kingdom of Italy,FW,1930-1942,193,78
67,Alfredo Foni,Kingdom of Italy,DF,1934-1947,304,8
69,Guglielmo Gabetto,Kingdom of Italy,FW,1934-1941,191,102
104,Luis Monti,Argentina/Kingdom of Italy,MF,1930-1939,263,22
109,Federico Munerati,Kingdom of Italy,FW,1922-1933,256,114
112,Raimundo Orsi,Argentina/Kingdom of Italy,FW,1929-1935,194,88
114,Carlo Parola,Kingdom of Italy,DF,1939-1954,339,11
127,Pietro Rava,Kingdom of Italy,DF,1935-1950,330,15
130,Virginio Rosetta,Kingdom of Italy,DF,1923-1936,366,19
154,Giovanni Varglien,Kingdom of Italy,MF,1929-1947,410,42
155,Mario Varglien,Kingdom of Italy,MF,1928-1942,402,17

In [4]:
# Replace 'Kingdom of Italy' with 'Italy' in the 'nationality' column
df.loc[koi_df.index, 'nationality'] = df.loc[koi_df.index, 'nationality'].str.replace('Kingdom of Italy', 'Italy')

In [5]:
# Now Let's check on of the players
result = df[df['name'] == 'Renato Cesarini']
result

,name,nationality,positions,period of enrollment,appearances,goals
37,Renato Cesarini,Argentina/Italy,FW,1929-1935,147,53

We see that `Kingdom of Italy` is changed to `Italy`

## Data Analysis

### Most Appearances

In [6]:
# Let's take a look at 10 players with most appearances for Juventus

most_app = df.sort_values('appearances', ascending=False).head(10)
most_app

,name,nationality,positions,period of enrollment,appearances,goals
54,Alessandro Del Piero,Italy,FW,1993-2012,705,290
26,Gianluigi Buffon,Italy,GK,"2001-2018, 2019-2021",685,0
39,Giorgio Chiellini,Italy,DF,2005-2022,561,36
138,Gaetano Scirea,Italy,DF,1974-1988,550,32
68,Giuseppe Furino,Italy,MF,1969-1984,528,19
23,Leonardo Bonucci,Italy,DF,"2010-2017, 2018-",502,35
17,Roberto Bettega,Italy,FW,1970-1983,482,179
166,Dino Zoff,Italy,GK,1972-1983,473,0
22,Giampiero Boniperti,Italy,FW,1946-1961,465,185
27,Antonio Cabrini,Italy,DF,1976-1989,460,52

As we all know Juventus Legened Alex Del Piero had the most appearances for the club, following by Buffon and Chiellini. One fact that we can consider is that there are no foreign players among these players and all of them are from Italy.

### Non-Italian Most Appearances

In [7]:
non_italian_df = df.loc[~df['nationality'].str.contains('Italy')]
most_app_non_it = non_italian_df.sort_values('appearances', ascending=False).head(10)
most_app_non_it

,name,nationality,positions,period of enrollment,appearances,goals
110,Pavel Nedved,Czech Republic,MF,2001-2009,327,65
151,David Trezeguet,France,FW,2000-2010,320,171
46,Juan Cuadrado,Colombia,MF,2015-2023,314,26
135,Alex Sandro,Brazil,DF,2015-,309,15
21,Massimo Bonini,San Marino,MF,1981-1989,301,6
55,Luis del Sol,Spain,MF,1962-1970,300,31
60,Paulo Dybala,Argentina,FW,2015-2022,293,115
103,Paolo Montero,Uruguay,DF,1996-2005,278,7
89,Stephan Lichtsteiner,Switzerland,DF,2011-2018,257,15
49,Edgar Davids,Netherlands,MF,1997-2004,235,10

We can see that Pavel Nedved had played the most games for Juventus as a foregin player. Also Alex Sandro in the 4th place is noticeable, because he is the only active player in the list and might steal the first place from Nedved in the future if he continues to play.

### Nationality of Players

In [9]:
number_of_countries = df['nationality'].nunique()
countries = df['nationality'].unique()
print(f"Number of Countries: {number_of_countries}")
print(f"Countries: {countries}")

Number of Countries: 23
Countries: ['Italy' 'Brazil/Italy' 'Ghana' 'Uruguay' 'Poland' 'San Marino'
 'Argentina/Italy' 'Wales' 'Brazil' 'Colombia' 'Netherlands' 'Spain'
 'France' 'Argentina' 'Czech Republic' 'Germany' 'Denmark' 'Switzerland'
 'Croatia' 'Bosnia and Herzegovina' 'Portugal' 'Mali/France' 'Chile']

We can see that there are 23 different countries, which mostly are from Europe and South America. However, we can see that Ghana and Mali are mentioned. So let's take a look at those players:

In [10]:
african_players = df.loc[df['nationality'].isin(['Ghana', 'Mali/France'])]
african_players

,name,nationality,positions,period of enrollment,appearances,goals
6,Kwadwo Asamoah,Ghana,MF,2012-2018,156,5
141,Mohamed Sissoko,Mali/France,MF,2008-2011,100,3

It is shown that there are only two Afrian players with more than 100 goals for juventus. Kwadwo Asamoah and Mohamed Sissoko.